*{
    font-family: Roboto, sans-serif;
    color: #fff;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.nav-and-content{
    background-color: #1f2937;
}

.navigation{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-links{
    list-style: none;
    gap: 20px;
    display: flex;
        margin: 20px 5vw 10px 0px;
}

.header-logo{
    font-size: 24px;
    color: #F9FAF8;
    margin: 20px 20px 10px 10vw;
}

.content-grid{
    padding-bottom: 100px;
    margin: 100px 100px 70px 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content-text{
    flex: 1; 
    margin-left: 100px;
    margin-right: 400px;
}

.content-text h1{
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}

.content-text p{
    font-size: 18px;
    color: #E5E7EB;
}

.sign-up{
    background-color: #3882f6;
    padding:6px 32px;
    font-size: 16px;
    margin-top: 12px;
    border-radius: 8px;
    border: none;
}

.content-image{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content-image img{
    max-width: 100%;
    height: auto;
}

.information-grid h2{
    margin-top: 0px;
    font-size: 36px;
    color: #1f2937;
    font-weight: 900;
    text-align: center;
}

.information-box{
    display: flex;
    margin-left: 200px;
    margin-right: 200px;
    justify-content: space-evenly;
    align-items: center;
}

.information-card{
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    max-width: 200px;
}

.information-card p{
    color:#1f2937;
    text-align: center;
}

.information-card img{
    border: 2px solid #3882f6;
    border-radius: 8px;
    height: 100px;
    width: 100px;
    margin-bottom: 20px;
}